extends layout

block content
  h1= title
  p Welcome to #{title}
  p Search Results furniture 

const express = require('express');
const router = express.Router();
const furnitureItems = [
  { itemName: 'Chair', quantity: 5, cost: 50  },
  { itemName: 'Table', quantity: 2, cost: 120 },
  { itemName: 'cot',   quantity: 1, cost:150  },
];

router.get('/', (req, res) => {
  res.render('furniture', { title: 'Search Results - Furniture', furnitureItems });
});

module.exports = router;
